django==4.0.5
pandas==1.4.3
django-simpleui==2022.6.131
djangorestframework==3.13.1
markdown==3.3.7
django-filter==22.1
pygments==2.12.0
django-cors-headers==3.13.0
djangorestframework-simplejwt==5.2.0
gunicorn==20.1.0
python-dotenv==0.20.0
drf-yasg==1.21.3
whitenoise==6.2.0